.proffesional-experience {
  padding: 50px;
  background-color: #000;
  color: #fff;
}

.proffesional-experience h1 {
  text-align: center;
  font-size: 75px;
  margin-bottom: 30px;
}

.experience-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
