/* src/components/MyExpertise/MyExpertise.css */
*{
    padding: 0;
    margin: 0;
}

.my-expertise-section {
    padding: 50px;
    background-color: #000;
    color: #fff;
  }
  
  .my-expertise-section h1 {
    text-align: center;
    font-size: 75px;
    margin-bottom: 30px;
  }
  
  .expertise-list {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  